body {
 	padding-top: 50px;
}

footer {
	text-align: center;
	color: #808080;
}

.jumbotron {
	text-align: center;
}

.jumbotron h1 {
	font-family: 'Tahoma';
}

.jumbotron h2 {
	font-size: 1.6em;
}

.jumbotron p {
	padding-top: 2em;
	padding-bottom: 1em;
	font-size: 1em;
	margin: 0 auto;
}

.img-logo {
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 10px;
	max-width: 354px;
	width:100%;
}

.input-group {
	padding-left: 5px;
}

.padding-form {
	padding-top: 1em;
}

.nav-username {
	padding-right:2em;
	color: red;
}

/* Aligns feature buttons horizontally for medium screens */
@media (min-width: 992px) {

.btn-features {
	position: absolute;
    bottom:0;
    right: 0;
    left: 0;
    width: 90%;
}
/* Increase height value to provide more content about features */
.col-fixed-height {
	position: relative;
	height: 27em;
	overflow: hidden;
}

.features-header {
	margin-bottom:1em;
}

}

@media only screen and (max-width: 768px){

	.input-group {
		margin-top: 10px;
	}
	.input-group .btn {
		margin-left:0.2em;
	}
}
/* No-more-tables - Responsive table */
@media only screen and (max-width: 800px) {
    
    /* Force table to not be like tables anymore */
	#no-more-tables table, 
	#no-more-tables thead, 
	#no-more-tables tbody, 
	#no-more-tables th, 
	#no-more-tables td, 
	#no-more-tables tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#no-more-tables tr { border: 1px solid #ccc; }
 
	#no-more-tables td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		white-space: normal;
		text-align:left;
	}
 
	#no-more-tables td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	/*
	Label the data
	*/
	#no-more-tables td:before { content: attr(data-title); }
}

.frame-round {

  box-shadow: 2px 2px 2px #999;
margin: 0 auto;
  vertical-align: middle;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}

.crop {
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
}
  
  .contact-image {
    display: block;
    max-height: 100%;
	min-height: 100%;

    margin: auto;
    position: absolute;
    top: -100%;
    right: -100%;
    bottom: -100%;
    left: -100%;
  }
  

